<p>
	<strong>Name: </strong>
	<%= @user.name%>
</p>
<p>
	<strong>Email: </strong>
	<%= @user.email%>
</p>

<h2>Comments</h2>
<%= render @user.comments%>

<h2>Add Comment:</h2>
<%= render 'comments/form'%>

<%= link_to 'Edit', edit_user_path(@user)%>
<%= link_to 'Back', users_path%>
