<div id="page">
	<div class="topNavigationLink">
		<%= link_to 'Home', users_path%>
	</div>
	<div class="topNavigationLink">
		<%= link_to 'User', users_path%>
	</div>
	<div class="topNavigationLink">
		<%= link_to 'Create Users', new_user_path%>
	</div>
	<div class="topNavigationLink">
		<%= link_to 'Blogs', blogs_path%>
	</div>
	<div class="topNavigationLink">
		<%= link_to 'Register', new_user_path%>
	</div>
	<div class="topNavigationLink">
		<%= link_to 'Login', "/users/login" %>
	</div>
</div>
